[2017-07-15 02:53] ryanmcginnis opened #1 "Use of my personal email may be driving spam to it"
Links to this repository are the only results in a search for my personal email. If possible, I would like my email removed from the repository, and if possible I would like to replace it with my work email (which is sure to filter it). Please send me a message.

[2017-07-15 08:57] dankohn commented on #1
We don't want to be making things easier for spambots. However, all of the emails in this repo came from the list of Kubernetes commits, of which we're trying to keep a canonical list.

We will change the @ to an ` at ` or similar and see if that helps.

[2017-07-15 19:28] ryanmcginnis commented on #1
Sure, that works. I'll message you now the email address. Thanks!

[2017-10-20 14:56] mattfarina opened #4 "Change process for easier update PRs"
I found my data was incorrect (dates/companies). The process of updating this appears to require running scripts (e.g., `./rerun_data.sh`) that can take some time to run.

Could the process instead have it so that these files are not stored in Git and are generated at the time the data is used (or deploy time)? This could save from errors introduced by end users.

[2017-10-20 15:07] dankohn commented on #4
We'll clarify it. The idea is that you should only need to update one file
in your pull request. We'll then run the scripts when we accept the PR to
modify the resulting files, and/or when we pull the info into DevStats.
Thanks.

--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

On Fri, Oct 20, 2

[2017-10-20 15:08] mattfarina commented on #4
So, the only file I need to update is `developers_affiliations.txt`? If I do a PR with that change nothing else is needed?

[2017-10-20 15:19] dankohn commented on #4
Exactly.

--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

On Fri, Oct 20, 2017 at 11:08 AM, Matt Farina <notifications@github.com>
wrote:

[2017-10-20 17:42] mattfarina commented on #4
Submitted via #5. Thanks.

[2017-10-24 16:28] mattfarina commented on #4
Would it make it easier to manage if there was one repo with the `developers_affiliations.txt` file and documentation on how to contribute. Then everything else happens via automation via a CI system.

[2017-10-24 16:47] lukaszgryglicki commented on #4
Good idea imho.

[2017-10-27 08:20] lukaszgryglicki commented on #4
@dankohn I think we should create a small repo like `cncf/dev_affiliations` that would contain README with instructions to update single file `developer_affiliations.txt` and create a PR.

Repo should also contain files `company_affiliations.txt`, `email-map` (but not for update) and set of tools that will just read changed `developer_affiliations.txt` and generate the remaining two.

All other to

[2017-10-27 08:21] lukaszgryglicki commented on #1
Addresses now use `!` instead of `@`, closing.

[2017-10-27 08:21] #1 closed

[2017-10-27 08:25] dankohn commented on #4
I strongly disagree, because I don't like underscores in repo names. So, I've created:

https://github.com/cncf/dev-affiliations

[2017-10-27 08:42] lukaszgryglicki commented on #4
OK, thanks.
I'll work on this after requests in cncf/devstats
I've merged on PR just now and will update mappigs.
Details on iDioneThis as usual.

[2017-11-22 15:20] mattfarina commented on #4
I've noticed a lot of company affiliations don't seem to be appearing on devstats. My guess is that the data is either missing or out of date for them.

If there were simple directions we could put out in mass and maybe even a simple way to check for gaps it would be useful.

[2017-11-22 15:23] lukaszgryglicki commented on #4
I think we are quite in sync between cncf/gitdm and cncf/devstats.
cncf/devstats is using affiliations from cncf/gitdm.
If You know some affiliations that we don't have yet, can You please open PR on cncf/gitdm?
I'll merge, regenrate data and update devstats accordingly.

[2017-11-22 15:42] mattfarina commented on #4
@lukaszgryglicki I figured devstats and gitdm were in sync. It's that most of the people I've spoken with don't even know about gitdm as a place to update affiliations.  It's also hard to find good documentation on what someone should do to update affiliations. I can understand why data might be out of date or why all.txt has a long list.

I'm curious if there is a way to make a simpler UX and hel

[2017-11-22 15:46] lukaszgryglicki commented on #4
Well, we're open to suggestions, currently README.md explains that you should just open PR here, updating single text file.

The first section says which file should be updated.
Some people already did that.
We're thinking about some kind of automatic cron job that will update all other files automatically, but until now this needs to be reviewed (usually by me) and if I see all is OK, I'm merging

[2018-02-08 14:37] dankohn opened #38 "Red Hat has acquired CoreOS"
Please change all CoreOS contributors to Red Hat.

[2018-02-08 14:57] lukaszgryglicki commented on #38
Including past ones, as usual, right?

[2018-02-08 15:02] dankohn commented on #38
Right.

[2018-02-09 08:33] lukaszgryglicki commented on #38
Done, now updating cncf/devstats - all projects on test & prod.
Closing cncf/gitdm side.

[2018-02-09 08:33] #38 closed

[2018-03-12 22:53] heckj commented on #4
I just saw this referenced from the Kubernetes contribex slack channel, looked myself up, and saw the same issue - my detail was terribly out of date. What's the combined result of how to update here, still just open a PR or is there any alternate repo that I should be using? - the commentary above wasn't entirely clear to me.

[2018-03-12 23:14] dankohn commented on #4
Sorry, we haven't made the switchover yet. Please edit as described at https://github.com/cncf/gitdm#cncf-gitdm and open a pull request.

[2018-04-25 21:20] akutz opened #46 "How does dev stats use the info in the developer affiliates file?"
We did not see much, if any, movement in the dev stats for K8s after #44 was merged, and we are wondering how exactly the data in that file is used.

While working on the aforementioned PR, I learned more about querying data in and about GitHub via the GitHub API as well as gharchive.org. For example, it's not possible via the GitHub API to query all the comments made by a user. Nor is it possible

[2018-04-25 21:35] akutz commented on #46
Hi @lukaszgryglicki,

I will have to go back and engage a colleague who reviewed the stats before and after. According to him the number of comments, for example, made by the VMware org for the K8s repo did not change before and after the PR was merged. I will get some specific numbers though.

[2018-04-25 21:49] akutz commented on #46
Hi @clintkitson,

Do you still have the screenshots you took comparing the before/after data? Thanks!

[2018-04-26 05:07] lukaszgryglicki commented on #46
So I'll provide some details in the meantime.
DevStats only cares about final JSON with users affiliations. This file is a final result of updating affiliations (process described [here](https://github.com/cncf/gitdm/blob/master/SYNC.md)).
This JOSN contains user's name, GitHub login, email and affiliation(s)
- https://raw.githubusercontent.com/cncf/gitdm/master/stripped.json

[2018-04-26 06:11] lukaszgryglicki commented on #46
This is a list of all VMware actors:
[code]

[2018-04-26 06:34] lukaszgryglicki commented on #46
And this is the final activity log for all VMware logins (per login number of comments, commits, PRs, contributions, reviews etc.):
[code]

[2018-04-26 21:08] clintkitson commented on #46
@akutz Can you spot check this information against what we have?

[2018-04-26 21:08] clintkitson commented on #46
Thank you @lukaszgryglicki, very helpful.

[2018-04-26 22:33] akutz commented on #46
Hi @lukaszgryglicki,

Thank you for the information. If you'd like to e-mail me at sakutz at gmail, I can grant you access to my BigQuery data set used to generate the information below.

## VMware K8s Contributions
| Login | Issue Comments | Pull Request Review Comments | Commit Comments | Issues Opened | Pull Requests Opened | Commits |
|---|---|---|---|---|---|---|
| vladimirvivien | 254 | 160

[2018-04-26 22:39] akutz commented on #46
Hi @lukaszgryglicki,

Here are the GitHub logins for the people missing from the GTDM output above:

## VMware Contributors Missing from GTDM
| E-mail | Login | Name |
|---|---|---|
| akshay.luther!gmail.com | akshayl | Akshay Luther |
| aluther!vmware.com | akshayl | Akshay Luther |
| akutz!vmware.com | akutz | Andrew Kutz |
| alex!openfaas.com | alexellis | Alex Ellis |
| alexellis!vmware.com |

[2018-04-26 22:51] akutz commented on #46
Hi @lukaszgryglicki,

I realize part of the problem. Because I thought `developer_affiliations.txt` was strictly e-mail and name based, I did not care about a user's previous GitHub login IDs (for which there are a few belonging to VMware). `abrarshivani` is an example. He used to be an intern with a login ID of `shivania`. He has commits in K8s with two e-mail addresses, and I condensed them and

[2018-04-27 05:01] lukaszgryglicki commented on #46
I'll add people listed in the table and update affiliations.
Thanks.

[2018-04-27 06:10] lukaszgryglicki commented on #46
Updated affiliations, data is regenerating now.

[2018-04-27 09:59] lukaszgryglicki commented on #46
github_login,name,email,company,date_from,date_to,events,pushes,contributions,pr_reviews,forks,prs,issues,watches,issue_comments,commit_comments,comments
abrarshivani,Abrar Shivani,abrarshivani@users.noreply.github.com,VMware,06/15/2016,05/15/2017,193,9,60,38,4,35,16,1,88,0,126
abrarshivani,Abrar Shivani,abrars@vmware.com,VMware,06/15/2016,05/15/2017,193,9,60,38,4,35,16,1,88,0,126
afong94,Alton Fo

[2018-04-27 10:03] lukaszgryglicki commented on #46
This is the affiliation data before and after updating from [your](https://github.com/cncf/gitdm/issues/46#issuecomment-384810552) comment.
https://docs.google.com/spreadsheets/d/1AlvQGqMvEJf0THBLw1cr0ab9ti3EWdDOXgtfMnAj4l4/edit?usp=sharing

Devstats is regenerating - I'll update here once done.

[2018-04-27 10:08] lukaszgryglicki commented on #46
Data is updated, I see a small increase in VMware's comments 9checked comments as requested here).
Please check data now and let me know if you still have any issues.
![screen shot 2018-04-27 at 12 06 35](https://user-images.githubusercontent.com/2469783/39357590-a666fcb8-4a13-11e8-85a1-3a1d832355e4.png)
![screen shot 2018-04-27 at 12 06 42](https://user-images.githubusercontent.com/2469783/393575

[2018-04-27 14:55] akutz commented on #46
Hi @lukaszgryglicki,

Thank you for all your help! There are still a handful of users missing because of the condensed GitHub login IDs. I need to go back to my raw data to figure out which users had multiple GitHub accounts. I originally condensed all of those into a single person in the affiliations file and gave them multiple e-mail addresses.

[2018-04-27 15:05] lukaszgryglicki commented on #46
OK, I'll update as soon as I get the data.
Next week I'm on KubeCon - so won't be working on this.
Except Monday.

[2018-04-27 15:46] akutz commented on #46
Hi @lukaszgryglicki,

I won't be there, but @clintkitson, @vladimirvivien, and several other of my colleagues at VMware will be. Hopefully y'all get a chance to say hi :)

[2018-05-23 14:47] lukaszgryglicki commented on #46
I think i can close it now, let me know if you want to reopen.

[2018-05-23 14:47] #46 closed

[2018-05-31 07:25] lovejoy opened #53 "sync corp and user information from stackalytics"
would you please sync information  from https://github.com/openstack/stackalytics/blob/master/etc/default_data.json as many people use it

[2018-06-04 05:18] lukaszgryglicki commented on #53
Will work on this today.

[2018-06-05 09:33] lukaszgryglicki commented on #53
wip

[2018-06-05 15:38] lukaszgryglicki commented on #53
Postponed, I have two other urgent task. Will back to this later.

[2018-06-18 13:17] lukaszgryglicki commented on #53
This is done. Closing.

[2018-06-18 13:17] #53 closed

[2018-06-28 20:38] codenrhoden opened #54 "Process to add missing repos?"
Hello,

Is there a process/approval to go through to add more repos here? There is a good portion of Kubernetes development work that is happening within the github.com/kubernetes-csi org, but none of the repos there are tracked as counting toward Kubernetes.

How does one know if a repo is okay to track, and how it should be categorized?

I was going to submit a PR that adds the relevant repos to

[2018-06-28 20:41] dankohn commented on #54
@bgrant0607 @jdumars Could you please make a statement on behalf of SIG Architecture on whether github.com/kubernetes-csi is part of the Kubernetes project.

[2018-06-28 22:36] bgrant0607 commented on #54
kubernetes-csi is part of the project, yes.

Previous records of kubernetes github orgs:
https://docs.google.com/spreadsheets/d/1MQwsWGuQvJc_RepCFgQ9HleQD2m3-_2k8utGcPaVHKY/edit#gid=289132963
https://github.com/kubernetes/community/pull/2277/files

[2018-06-28 22:40] dankohn commented on #54
Great. @lukaszgryglicki will get the records updated when he's back from vacation in another week.

[2018-06-29 06:47] lukaszgryglicki commented on #54
Yes and I will also have to update `devstats`.

[2018-07-09 06:37] lukaszgryglicki commented on #54
I'll start working on this today.

[2018-07-09 09:34] lukaszgryglicki commented on #54
I'm adding this org, but should I create some special repository group for its repos? @bgrant0607 ?

[2018-07-09 12:46] dankohn commented on #54
Yes, the 10 repos should be part of the repo group `CSI`.

[2018-07-09 12:51] lukaszgryglicki commented on #54
OK thanks.

[2018-07-10 15:37] lukaszgryglicki commented on #54
Org added on devstats, `cncf/gitdm` and `cncf/devstats` affiliations will be updated tomorrow

[2018-07-10 19:55] lukaszgryglicki commented on #54
Found some problem on `cncf/gitdm` - last phase of sync failed - I'll investigate tomorrow.

[2018-07-11 11:11] lukaszgryglicki commented on #54
All affiliations related stuff updated to most recent state
- includes kubernetes-csi
- includes all new CNCF projects
- new actors generated and CNCF contributors list updated
- new JSON will be imported on all test/prod CNCF projects in devstats soon

Closing.

[2018-07-11 11:11] #54 closed

[2018-10-12 21:02] rshriram opened #67 "Merge ids"
Hi. I have 3 different entries. shriramr@vmware.com is my current commit ID. shriram@us.ibm.com was the previous one. rshriram@noreply.github.com is also mine (caused by creating PRs via github)

[2018-10-15 05:29] lukaszgryglicki commented on #67
I'll do,  but please tell me what is your final affiliations list? A list of affiliations like this:
- OtherCompany < YYYY-MM-DD
- IBM < YYYY-MM-DD
- VMware (current).

[2018-10-18 13:53] idealhack opened #68 "Better gender lookup methods"
Currently, we use Genderize to guess user gender by their first name. This method seems to lead to many wrong data with non-English names.

I wonder if there're any better ways, face recognition would be more reliable but also more expansive.

[2018-10-18 13:54] lukaszgryglicki commented on #68
We are using Genderize.io + country filter.
So we are asking for name + two letters country code.
Localizing country comes from geonames.org.

[2018-11-18 08:05] #68 closed

[2019-02-15 14:19] jglick opened #102 "Difficult to file PRs against this gigantic repo"
When I filed #83 I used GitHub’s web UI to create a fork, edit a file, and create a PR from it. I no longer seem to be able to do that—GH complains that the text files are too big to display, and does not offer an edit button. So I cloned the repository. The clone occupies 555MiB, and this took several minutes on a fiber connection! Pushing just a few weeks’ worth of `master` changes back to my fo

[2019-02-15 14:25] lukaszgryglicki commented on #102
OK, but all you need to do is to edit 2 files (on the GitHub UI) as described [here](https://github.com/cncf/gitdm#addingupdating-affiliation) and create a PR from the UI. This takes just a few minutes max. I will handle the rest. Actually, I do need history to track changes to those files using special tools, but I can, of course, move all those big files and their history to a separate repo and

[2019-02-15 14:27] lukaszgryglicki commented on #102
Edit: ohhh sorry, I see what you mean, just crossed some GitHub file size for TXT files and cannot edit them in the UI. I'll try to fix this somehow.

[2019-02-19 09:26] lukaszgryglicki commented on #102
Fixed by splitting big text files into smaller parts.

[2019-02-19 09:26] #102 closed

[2019-02-19 18:35] jglick commented on #102
Good enough for now! Thanks.

[2019-02-20 06:20] jlewi opened #104 "ghusers.rb splitting logic for repos.txt seems very brittle"
I followed the instructions to run get_repos to produce a list which I copy pasted to repos.txt. I then ran ghusers.rb.

ghusers.rb had trouble splitting the file correctly.
https://github.com/cncf/gitdm/blob/88f4c2a8d5df61b0ba09a5ef99fac95599ef08cf/src/ghusers.rb#L77

I may be misunderstanding ruby but I think

[code]
Is splitting on the entire string ",\n " and not treating that string as a list

[2019-02-20 07:27] lukaszgryglicki commented on #104
Yes, you are right, that tool just expected the output from the another tool. Thanks for reporting, I will fix that

[2019-02-25 07:00] lukaszgryglicki commented on #104
Fixed.

[2019-02-25 07:00] #104 closed

[2019-05-25 13:10] nzoueidi opened #145 "Fix links in the Contributing section"
The links in Contributing[1] section are incorrect (Config files, email-map, all.txt).

[1] https://github.com/cncf/gitdm#contributing

[2019-05-27 11:35] #145 closed

[2019-06-10 06:01] weiwei04 opened #152 "From where affiliations are imported into DevStats"
We want to add our company affiliations into devstatus, didn't find where to add company info like https://github.com/stackalytics/default_data

[2019-06-10 06:03] lukaszgryglicki commented on #152
Please follow https://github.com/cncf/gitdm/blob/master/README.md#addingupdating-affiliation, create a PR against https://github.com/cncf/gitdm/blob/master/developers_affiliations1.txt or https://github.com/cncf/gitdm/blob/master/developers_affiliations2.txt or https://github.com/cncf/gitdm/blob/master/developers_affiliations3.txt file.

[2019-06-10 07:12] weiwei04 commented on #152
Thanks, I want to know how to add a new company like `Qiniu`, I didn't find a file contains authoritative company info like
[code]

in https://github.com/stackalytics/default_data/blob/master/default_data.json

[2019-06-10 07:17] lukaszgryglicki commented on #152
You don't add a new company. You add developers and affiliate them to a company name(s). Then other tools that you don't care about will create a new company entry and list its employees with date ranges.

So all you need to do is to add developers like this:
[code]

[2019-06-10 07:18] lukaszgryglicki commented on #152
Other tools will auto-generate company info later.
BTW: Qiniu is already defined here: https://github.com/cncf/gitdm/blob/master/company_developers2.txt#L15716-L15747

[2019-06-10 14:50] weiwei04 commented on #152
Thanks, I get it :)

[2019-06-10 14:56] lukaszgryglicki commented on #152
great, I'm waiting for a PR then.

[2019-06-30 20:54] cclauss opened #159 "Why does k8s-ci-robot fail my CLA??"
Why does k8s-ci-robot fail my CLA https://identity.linuxfoundation.org/users/cclauss ??
Like https://github.com/kubernetes/autoscaler/pull/2150

[2019-06-30 21:59] dankohn commented on #159
Please email Linux Foundation Helpdesk <helpdesk@rt.linuxfoundation.org> and they will help you resolve.

[2019-06-30 21:59] #159 closed

[2019-07-22 13:11] timyinshi opened #167 "how to get xieyanker in stackalytics"
hi,everyone,xieyanker commit a pr and the pr is merged,why cannot find xieyanker in stackalytics:
xieyanker work for inspur,in stackalytics can not find him:
https://www.stackalytics.com/cncf?company=inspur
the pr is:
https://github.com/kubernetes/kube-state-metrics/pull/777

[2019-08-06 07:38] kexun opened #174 "Why didn't my company name change to Huawei in kubeedge.devstats.cncf.io ?"
I've updated the configuration to change my company to Huawei, but the company on kubeedge.devstats.cncf.io is still NetEase.

Pull requests:  https://github.com/cncf/gitdm/pull/172
![image](https://user-images.githubusercontent.com/6123010/62520275-d49d6700-b85f-11e9-83fc-c8394805f7cf.png)

![image](https://user-images.githubusercontent.com/6123010/62520007-3a3d2380-b85f-11e9-9ca5-17c211f1ca91.pn

[2019-08-06 09:01] lukaszgryglicki commented on #174
It will change during the next affiliations import on DevStats.

[2019-08-06 11:20] kexun commented on #174
tks~

[2019-08-06 11:20] #174 closed

[2019-08-06 15:51] lukaszgryglicki commented on #174
@kexun I see your emails and GitHub login data updated in `cncf/gitdm` - values are OK - checked.
DevStats still has an old JSON with `NetEase` - importing affiliations is a time-consuming task and happens 1-2 times/month - but it regenerates data in all CNCF projects, including past data, so you will be updated this month, but not during the next few days.

[2019-08-13 10:49] lukaszgryglicki commented on #174
This data is now importing on the test server. Once test server import is finished correctly, I'll update prod as well. I'll let you know.

[2019-08-13 11:04] lukaszgryglicki commented on #174
You are already affiliated to Huawei on the test server, see:
- https://kubeedge.teststats.cncf.io/d/55/company-prs-in-repository-groups-table?orgId=1&var-period_name=Last%20decade&var-repogroups=All&var-companies=Huawei
- https://kubeedge.teststats.cncf.io/d/56/company-commits-table?orgId=1&var-repogroups=All&var-companies=Huawei&from=now-5y&to=now

[2019-08-14 07:50] lukaszgryglicki commented on #174
Prod fixed too:
- https://kubeedge.devstats.cncf.io/d/55/company-prs-in-repository-groups-table?orgId=1&var-period_name=Last%20decade&var-repogroups=All&var-companies=Huawei
- https://kubeedge.devstats.cncf.io/d/56/company-commits-table?orgId=1&var-repogroups=All&var-companies=Huawei&from=now-5y&to=now

[2019-09-02 07:10] lukaszgryglicki commented on #167
This repo is not related to stackalytics, closing.

[2019-09-02 07:10] #167 closed

[2019-09-02 07:10] #152 closed

[2019-09-07 12:48] fabriziopandini opened #186 "Help investigating double entry for Fabrizio Pandini"
July 2 with https://github.com/cncf/gitdm/pull/160 I have changed my affiliation in [`developers_affiliations2.txt`](https://github.com/cncf/gitdm/blob/acaca98e20a44370901ca08ac5935db39c64bf4c/developers_affiliations2.txt#L30108-L30110)

Then, the 4 of July @lukaszgryglicki with the commit [65d2d95880d8e6b29fb53ea4e25da695d608089c](https://github.com/cncf/gitdm/commit/65d2d95880d8e6b29fb53ea4e25da

[2019-09-09 05:33] lukaszgryglicki commented on #186
This email probably came from some automatic script. I've removed it from our `all_affs.csv` file and regenerated text affiliations files. Its entry was `"fpandini!fpandini-a01.vmware.com","Fabrizio Pandini","VMware","","domain"` which means that affiliation was determined by the "last chance" algorithm "domain". That email must appear in some git logfile from 1000s of repos processed by gitdm.
I'

[2019-09-09 05:38] lukaszgryglicki commented on #186
Even `git show` can be use to see that this emails was used for commit: `git show 442fe8cc6e6906e772ed21aebad54729eec50c89`:
[code]
I've fixed (removed this affiliation) here: ddec3e1508be8b5b60676c4374cf7e644762c2ba

[2019-09-09 05:38] #186 closed

[2019-09-09 12:39] fabriziopandini commented on #186
@lukaszgryglicki thanks for the quick answer, awesome!

[2019-09-27 05:02] Mohit-Nain opened #194 "Contribution count is not reflecting at the portal"
Around 20 contributions have been made by Infosys resources in last month, but the count is not yet reflected on the portal:
Link: https://k8s.devstats.cncf.io/d/9/companies-table?orgId=1

[2019-09-27 09:31] lukaszgryglicki commented on #194
Hi, I'll check that on Mondy, we have a major outage on DevStats cluster, I'm still fixing it.

[2019-09-30 09:15] timyinshi commented on #167
where can get find xieyanker'commit record?

[2019-09-30 09:16] timyinshi commented on #167
@lukaszgryglicki

[2019-09-30 09:30] lukaszgryglicki commented on #167
Search for `xieyanker`:
- https://raw.githubusercontent.com/cncf/gitdm/master/src/cncf-config/email-map
- https://github.com/cncf/gitdm/blob/master/company_developers2.txt#L3005
- https://github.com/cncf/gitdm/blob/master/developers_affiliations2.txt#L32169
- https://github.com/cncf/gitdm/blob/master/developers_affiliations3.txt#L9620
- https://raw.githubusercontent.com/cncf/gitdm/master/src/all_a

[2019-10-01 08:51] Mohit-Nain commented on #194
Hi, Any updates on this. Still the counts have not been updated

[2019-10-01 08:59] lukaszgryglicki commented on #194
No updates yet, I'll let you know when I check this.

[2019-10-01 10:15] lukaszgryglicki commented on #194
First thing, we may be missing some contributors affiliations, this is the list of `Infosys` contributors currently:
[code]

[2019-10-01 10:21] Mohit-Nain commented on #194
Thanks for this detail, can you please check with email id like '%@infosys.com'

[2019-10-01 10:35] lukaszgryglicki commented on #194
[code]

[2019-10-01 10:47] Mohit-Nain commented on #194
Infosys has signed CCLA with CNCF, so ideally all the contributors to Kubernetes should be mapped to that CCLA, otherwise they won't be allowed to contribute, unless they signed CLA on their own.
Correct me if i'm wrong here.

[2019-10-02 07:03] lukaszgryglicki commented on #194
DevStats has no CCLA knowledge, if you are sure that there were say 20+ contributions from Infosys, please show them to me - I will check if users behind those contributions are correctly affiliated to Infosys company.

[2019-10-09 03:40] Mohit-Nain commented on #194
rajeshdeshpande02 , is the user behind those contributions, can you please check

[2019-10-09 06:10] lukaszgryglicki commented on #194
So according to GitHub https://github.com/rajeshdeshpande02 made 13 contributions overall during the last month, the question was asked 12 days ago, so I can even add 3 contributions from last 45 days - but they were made to `rajeshdeshpande02/content-openshift-ex280` repo which is not k8s repo. Those 13 contributions were made Oct 7th (which is 2 days ago and 10 days AFTER the question was asked,

[2019-12-20 05:44] lukaszgryglicki commented on #194
Closing this, feel free to reopen if needed.

[2019-12-20 05:44] #194 closed

[2020-03-19 12:05] qw1mb0 opened #275 "Unknown company name"
I'd like to fix my company's name so that my name would be visible in company_developers and developers_affiliations files.
How should I do it? I'd open a PR but the automated machinery in this repo scares me.
[code]

[2020-03-19 12:46] lukaszgryglicki commented on #275
You only need to edit `developers_affiliations.txt` file, just add your GitHub username, emails list and affiliations there, or update existing if incorrect. I will take care of everything else.

[2020-03-19 13:14] qw1mb0 commented on #275
Huh, thanks! Will provide a PR shortly.

[2020-03-19 13:14] #275 closed

[2020-04-27 05:13] ankatare opened #325 "Add affiliation for ankatare"

[2020-04-27 05:18] mk46 opened #326 "Add affiliation for mk46"

[2020-04-27 05:18] #325 closed

[2020-04-27 05:20] #326 closed

[2020-06-12 14:27] craigbox opened #366 "Something weird happened with a recent commit"
https://github.com/cncf/gitdm/commit/f5f939a278192d8cffafcf93c9851784dc4e33b1 added dgn at Red Hat.

https://github.com/cncf/gitdm/commit/6cf8f2fd569a01185684e19141a6600b2ce4d99b added jacob-delgado at Aspen Mesh.

https://github.com/cncf/gitdm/commit/a05aaaca4637ddcdc3ae10f2442e340ffebb3be5 munged the two somehow:

[code]

[2020-06-12 15:00] lukaszgryglicki commented on #366
Please create a PR fixing this, I'll merge on Monday and will try to see what happened.

[2020-06-15 05:47] lukaszgryglicki commented on #366
Fixed by https://github.com/cncf/gitdm/pull/367

[2020-06-15 05:47] #366 closed

[2020-07-01 18:04] parispittman opened #381 "can't find parispittman in devstats for the last month"
I can't seem to find my contributions in devstats for the last month. sorting the developer activity chart by last month produces nothing but all time produces just my record attributed to google. if you sort by quarter, my affiliation with google is shown but nothing from apple. I did change my affiliation in the developer file #364

[2020-07-02 06:00] lukaszgryglicki commented on #381
@parispittman will take a look when I can, probably tomorrow or Saturday. My blind shot is that number of your contributions is too low to show (in "All CNCF" DevStats instance, but also "Kubernetes" DevStats instance we're limiting the number of users to show - only showing those with certain number or more).

[2020-07-03 05:48] lukaszgryglicki commented on #381
All is fine, we're showing data with value >= 30 in this chart (because K8s project is so huge).
See this:
[code]

[code]

You have 17 contributions during the last month.

[code]

You can create a PR to change this, but this particular report is already one of the slowest one, so getting maybe a 100x longer tails of users with just 1 contribution can be hard to implement.

[2020-07-03 05:48] lukaszgryglicki commented on #381
Closing this, if you need to change that please create a feature request on the `cncf/devstats` repo. Thanks for reporting.

[2020-07-03 05:48] #381 closed

[2020-07-15 17:25] parispittman opened #396 "parispittman still not coming up as apple"
https://k8s.devstats.cncf.io/d/66/developer-activity-counts-by-companies?orgId=1&var-period_name=Last%20decade&var-metric=contributions&var-repogroup_name=All&var-country_name=All&var-companies=Apple

there are also several people that don't work at apple on this list.

#381

https://k8s.devstats.cncf.io/d/55/company-prs-in-repository-groups?orgId=1&var-period_name=Last%20decade&var-repogroups=All

[2020-07-16 05:20] lukaszgryglicki commented on #396
From #381 I've mentioned that you can create a feature request to change this, no feature request was created. I'll treat this as a feature request.
If somebody is not at Apple, then he/she should create a PR on `cncf/gitdm` removing/changing Apple affiliation. I remember there was such a PR in the past - removing *some* Apple affiliations, but finally, they figured out that they should do one mor

[2020-07-20 05:45] lukaszgryglicki commented on #396
I'll create a task to re-check all Apple contributors, in the meantime I'll remove the limit of minimal contributions to show on the list, that way tables will have a lot more rows, but that should work anyway. Will keep you informed.

[2020-07-20 06:30] lukaszgryglicki commented on #396
And regarding your steering committee work: this is how steering committee is defined in DevStats:
![Screenshot 2020-07-20 at 08 20 04](https://user-images.githubusercontent.com/2469783/87906184-7367a700-ca62-11ea-8928-c4e01ca0538e.png)

I've checked GitHub on that repo:
![Screenshot 2020-07-20 at 08 25 00](https://user-images.githubusercontent.com/2469783/87906267-9e51fb00-ca62-11ea-8955-a39a317b

[2020-07-20 07:23] lukaszgryglicki commented on #396
OK, [dashboard](https://k8s.devstats.cncf.io/d/66/developer-activity-counts-by-companies?orgId=1&var-period_name=Last%20quarter&var-metric=contributions&var-repogroup_name=All&var-country_name=All&var-companies=Apple) fixed, [document](https://docs.google.com/spreadsheets/d/1WoWa07wcV_qHehgGoyZ8MaPMo6748LyXkqOd8sE874M/edit?usp=sharing) to re-check Apple contributors created.

[2020-07-21 11:23] lukaszgryglicki commented on #396
Processed a few Apple affiliations, will now reimport data and regenerate dashboards - it should make Apple affiliations quality a bit better, but the final update will be ready in about a week (when the entire Apple affiliations spreadsheet is processed imported).

[2020-07-21 13:00] lukaszgryglicki commented on #396
OK, imported some fixed data, it is still wip but there are a bit less Apple contributors now.

[2020-07-24 16:39] lukaszgryglicki commented on #396
Imported the final fixed Apple data, also dashboard now shows all contributors, even with a single contribution. I think this can be closed?

[2020-08-05 06:00] lukaszgryglicki commented on #396
I'm closing this, please reopen if needed.

[2020-08-05 06:00] #396 closed

[2020-09-11 05:25] kobaji opened #454 "Could I add my account into developers_affiliations*.txt by myself?"
Hi there, could you please help me resolve the following problem?

# What I want to do

The number of my issues, commits, contributions, etc. will be reflected into [this Tekton ranking](https://tekton.devstats.cd.foundation/d/5/companies-table?orgId=1&var-period_name=Last%20year&var-metric=commits).

# What I have found
- The website of the Tekton ranking which is shown above says that "We are de

[2020-09-11 05:54] kobaji opened #457 "Add dev4 and co5 into README.md"
https://github.com/cncf/gitdm/blob/master/README.md

dev4 and co5 are not written in this README.md.
Therefore I added them.

[2020-09-11 05:54] kobaji commented on #457
/assign @kobaji

[2020-09-11 05:55] kobaji commented on #457
I have issued a PR
https://github.com/cncf/gitdm/pull/456

[2020-09-14 05:06] lukaszgryglicki commented on #454
You can add your and your fellows' affiliations by creating PR against this repo as described [here](https://github.com/cncf/gitdm#addingupdating-affiliation).

[2020-09-14 05:06] #454 closed

[2020-09-14 05:07] lukaszgryglicki commented on #457
PR merged, thanks!

[2020-09-14 05:07] #457 closed

[2020-09-14 05:20] kobaji commented on #454
@lukaszgryglicki Thanks, your advice is absolutely helpful!!
Anyway I'll try to create new PR to contribute to Tekton.

[2020-09-14 05:40] #4 closed

[2020-09-15 16:00] jberkus opened #462 "Developer Affiliations emails are wrong"
Per troubleshooting with me, @jdumars, and @lukaszgryglicki:

Some bug in CNCF/gitdm is causing the developer affiliations generation to promiscuously grab email addresses which are not in any way associated with the contributor.  As a test case example:

[code]

Of the four real email addresses, only one belongs to the contributor Hasbro17 (Haseeb Tariq).  The other 3 belong to random other contr

[2020-09-15 16:13] lukaszgryglicki commented on #462
I would really like to help, but I have no way of determining if the contributor's email list is correct or not. I suggest creating PRs fixing this and I'll merge them and update data.

[2020-09-15 16:54] jberkus commented on #462
If you can confirm that the emails are used for no other purpose than the Kubernetes elections, then my suggestion is to simply remove them entirely.

[2020-09-15 17:32] lukaszgryglicki commented on #462
I'll keep them, some internal tools use them. People can always correct their emails in cncf/gitdm.

[2020-09-15 20:08] jberkus commented on #462
They can't, though, because there's no way to remove incorrect emails.

[2020-09-16 00:02] jberkus commented on #462
Regardless, there is no way for me to find all the incorrect emails.  And presumably gitdm is periodically used to pull new data, which would override any removals.  We really need to find the bug that's causing it to grab incorrect emails in the first place; I've dug into the code some but am having difficulty finding the code that actually pulls an email out of git.

[2020-09-16 04:16] lukaszgryglicki commented on #462
[code]
They can - just create a PR against any *.txt file, removing emails in that PR.

[2020-09-16 04:50] lukaszgryglicki commented on #462
BTW, Josh, there is no periodic update of this repo. We only generate internal tasks with a list of users and their emails to research their affiliations (but those tasks don't add emails, they *use* emails to try to find affiliations). We don't use any automatic tools here, because their data is always lower quality than manual research (speaking about finding affiliations, not emails).

All chan

[2020-09-16 04:50] lukaszgryglicki commented on #462
cc @jberkus

[2020-09-16 15:17] scottrigby opened #467 "Public CNCF Maintainer List"
Hello 👋

Two things:

1. I added a comment about updating my company (also while I was there, commented about another Helm member who I know just moved to another company as well). Thanks in advance for updating this, and whatever generated files come from this.
2. The [spreadsheet](https://docs.google.com/spreadsheets/d/1Pr8cyp8RLrNGx9WBAgQvBzUUmqyOv69R7QAFKhacJEM/edit#gid=262035321) seems a bit

[2020-09-16 15:52] lukaszgryglicki commented on #467
1. That spreadsheet is updated regularly by the CNCF staff - nothing in this repo.
2. You don't need to do anything, I'm doing this periodically and will do again when new 6 CNCF projects maintainers are added there.

[2020-09-16 15:52] #467 closed

[2020-09-16 18:58] jberkus commented on #462
So we discussed this in Kubernetes ContribEx.  Since we're planning to move away from email for elections by next year, we decided that the Kubernetes project doesn't care about this issue, and we won't be launching an outreach effort to get people to fix their own data.

Given this, it seems like the only thing to be done would be to warn folks about the issues in the Affiliates files themselves,

[2020-09-16 19:03] lukaszgryglicki commented on #462
Yes, that works for me.

[2020-09-16 19:12] scottrigby commented on #467
@lukaszgryglicki got it. Thanks 🙂

[2020-09-16 23:42] jberkus commented on #462
Oh, BTW, if anyone ever tries to debug this in the future: 100% of the wrong emails seem to belong to contributors who are credited with either 4 or 5 email addresses.  We did not find any contributors credited with 2 or 3 addresses who had wrong emails (just out-of-date ones).  This is, however, an eyeball check, so it's not completely certain.

[2020-09-24 05:52] lukaszgryglicki commented on #462
Warning added, closing this, thanks for reporting!

[2020-09-24 05:52] #462 closed

[2020-12-08 08:02] Ritikaa96 opened #538 "Issue with developers_affiliations"
Hi,

I have created this PR: https://github.com/cncf/gitdm/pull/528
But in devstats site my company name is not showing against my name:
[keda.devstats.cncf.io](https://keda.devstats.cncf.io/d/66/developer-activity-counts-by-companies?orgId=1&var-period_name=Last%20month&var-metric=merged_prs&var-repogroup_name=All&var-country_name=All&var-companies=All
)
Please direct how to solve this issue.

[2020-12-08 08:04] Ritikaa96 commented on #538
Hi, @lukaszgryglicki can you please suggest any solution for this?

[2020-12-08 08:12] lukaszgryglicki commented on #538
Affiliations are imported about weekly, I'll check DevStats JSON for correctness, but you probably just need to wait.

[2020-12-08 08:31] Ritikaa96 commented on #538
Hi @lukaszgryglicki can you please suggest any solution or the reason why it is not showing?

[2020-12-08 08:33] Ritikaa96 commented on #538
Thank you for your quick response. I checked the DevStats JSON, I found my affiliations there. I'll just have to wait then. thank you again.

[2020-12-11 13:51] #538 closed

[2020-12-31 06:56] rajeshdeshpande02 opened #551 "Contributors data in public repository"
Hi Team,

Contributors' GitHub id's or email ids are fetched to this public repo which is not good practice and also not allowed by company policies.
so is there any way we can avoid public data exposure but still show company or individual contributions on dashboards?

[2020-12-31 07:38] lukaszgryglicki commented on #551
If you don't want any data to be shown, just follow [this](https://github.com/cncf/gitdm/blob/master/FORBIDDEN_DATA.md).

[2020-12-31 08:02] rajeshdeshpande02 commented on #551
@lukaszgryglicki Thanks for the quick response. We have removed data using mentioned steps. But after removing from here, will contribution count still be displayed on dashboards?

[2020-12-31 08:21] lukaszgryglicki commented on #551
In some tabular views/dashboards (under DevStats) you will only see GitHub id/handle (which is public anyway), there will be no username, no emails, and no company affiliations - since this data was removed.

[2020-12-31 10:54] Mohit-Nain commented on #551
@lukaszgryglicki can you please suggest a way where we can contribution counts reflected under our organization name, and improve on organization ranking but not make any of the contributors official email ID public to the world?
having official email ID displayed on public platforms is a very big compliance issue for our organization side.

[2021-01-03 17:11] Mohit-Nain commented on #551
@lukaszgryglicki  Wishing you a very Happy New Year!
Can you please share some insights on the request made earlier about the contributions count being reflected on public dasboard

[2021-01-03 19:28] lukaszgryglicki commented on #551
You cannot have both - just request removing email data, or only add emails with no reply artificial GitHub email ...

[2021-01-20 07:54] shurup opened #564 "Unknown affiliation for email that exists in developers_affiliations*.txt"
Current `src/all.txt` file lists one of our engineers in the `Developers with unknown affiliation` section:

[code]

However the relevant entry (to affiliate him with the company) exists in the `developers_affiliations2.txt`:

[code]

There is a corresponding entry in the generated `company_developers2.txt` file as well.

Can you please shed some light on what's missing in my understanding and sho

[2021-01-20 08:09] lukaszgryglicki commented on #564
So please only use `company_developers*.txt` and `developers_affiliations*.txt` files, other files were not regenerated for a long time, and the main data file is `github_users.json` which is the actual file used by DevStats affiliations data.

[2021-01-20 08:17] shurup commented on #564
Thank you very much! I just saw that `all.txt` was also recently updated (13 days ago), so I assumed: while it's automatically generated, it is still updated (from time to time) in the repo as well. I also tried to regenerate `all.txt` locally but it had some errors and I decided not to dive into these waters too deep…

So that was my wrong assumption, thanks for your kind clarification!

[2021-01-20 08:17] #564 closed

[2021-01-20 08:29] lukaszgryglicki commented on #564
It indeed was updated, because we normalized company names. But it was only "fixed" (like "company name" -> "Company Name Corporation Inc." etc., affiliations data wasn't changed.

[2021-02-05 06:07] #551 closed

[2021-04-08 11:59] being-vishal opened #635 "Grammatical mistakes and typos found in the README.md file"
I have some grammatical mistakes and typos in the Readme.md file of this project.
For e.g:- on line no. 87 there is a typo that looks something like this "neds" instead it should be "needs".

I want to work on this file, update it and resolve the issue

[2021-04-08 12:47] lukaszgryglicki commented on #635
Sure, please go ahead.

[2021-04-08 15:31] being-vishal commented on #635
@lukaszgryglicki should I commit my changes directly to master branch or create a new branch and start a pull request.

[2021-04-08 15:40] lukaszgryglicki commented on #635
Create a PR. I don't think you *can* commit anything directly to `master`.

[2021-04-10 13:10] #635 closed

[2021-04-10 13:10] being-vishal commented on #635
PR merged.

[2021-06-25 14:45] ocelotl opened #700 "Fix ocelotl affiliation"
ocelotl affiliation should be LightStep.

[2021-06-27 06:35] #700 closed

[2021-08-12 13:01] nehaLohia27 opened #730 "Affiliate nehaLohia27 with Vmware"

[2021-08-12 13:01] #730 closed

[2021-09-07 06:47] SergeyKanzhelev opened #763 "Quite a few "Google LLC LLC" affiliations in dev affiliation files"
Found looking in devstats:

![image](https://user-images.githubusercontent.com/9950081/132297069-fcecee14-bebd-4afa-992d-8155e477282e.png)

Not sure why there are a few "Google LLC LLC" affiliations, maybe some copy/paste issue?

[2021-09-07 07:22] lukaszgryglicki commented on #763
Not sure either, fixed the affiliations JSON, next sync will fix this.

[2021-09-07 07:23] #763 closed

[2021-09-20 16:05] rctay opened #776 "Contribution not reflected in devstats"
Hi there, my PR https://github.com/kubernetes/ingress-nginx/pull/7202 to kubernetes/ingress-nginx got merged successfully and I'm listed in gitdm, however I don't see it showing up in Devstats, eg. [Last year](https://k8s.devstats.cncf.io/d/55/company-prs-in-repository-groups?orgId=1&var-period_name=Last%20year&var-repogroups=All&var-repos=kubernetes%2F&var-repos=kubernetes%2Fingress-nginx&var-com

[2021-09-20 16:43] lukaszgryglicki commented on #776
Will check this tomorrow.

[2021-09-21 05:51] lukaszgryglicki commented on #776
So I can see your contribution in our data table:
[code]
`PullRequestEvent` 3rd June and then many more events but...
There is no company affiliation recorded for your user:
[code]
The dashboard you refer to is a *Company* PRs - so obviously you won't appear there, because your company is unknown.

I've checked out `github_users.json` [file](https://github.com/cncf/gitdm/blob/master/src/github_use

[2021-09-21 05:53] lukaszgryglicki commented on #776
Closing for now, please open a PR against `cncf/gitdm` adding your company affiliation(s). Then weekly sync will pick the new JSON and update all company-related dashboards.

[2021-09-21 05:53] #776 closed

[2021-10-12 13:21] kobaji opened #796 "Question: Do you know why my fellow's commit cannot be reflected in Tekton ranking?"
Hi there, (I apologize if I am asking in inappropriate location)

I am in charge of Tekton contributions and commits in my company.

My fellow, Minoru ( mnitta ) has committed to Tekton website, however his commit does not seem to be reflected in Tekton ranking.

- His commit-1: https://github.com/tektoncd/website/commit/23e5c6f507e4db985f72cbbc470eb82599b2b2ce
- His fellow's commit-2: https://git

[2021-10-19 02:41] kobaji commented on #796
Thank you @lukaszgryglicki for kind help.
Recently (at least 1 week) this ranking has not been updated.

https://tekton.devstats.cd.foundation/d/5/companies-table?orgId=1&var-period_name=Last%20year&var-metric=contributions

Not just my company, bust also large vendors such as IBM or Red Hat, show the same figures these days.

Do you know if there are any troubles with this ranking?

[2021-10-19 07:18] lukaszgryglicki commented on #796
Can you check now? Data and affiliations crons were stopped, I've reenabled them, forced to run now - they just finished.

[2021-10-22 20:40] vaikas opened #809 "Instructions for testing changes are incorrect."
The instructions here:
https://github.com/cncf/gitdm#testing-changes

Say to run
[code]
But looks like it was moved to ./src/rerun_data.sh

[2021-11-02 22:36] jpeach opened #831 "Stale maintainers entry for jpeach"
Hi, Not sure where the entry for me in src/maintainers.csv originated, but it's now stale. I'd be happy to be removed, or if there is some source of truth for this list, please LMK and I'll try to update that.

[2021-11-03 05:35] lukaszgryglicki commented on #831
Hi, if you just want to mark you no longer work for a given company please follow [this](https://github.com/cncf/gitdm#addingupdating-affiliation)
Just update a given text file and set so something like:
[code]
But if you want your data to be totally removed from `gitdm/devstats`, you need to add your data to the exclusion list, see instructions [here](https://github.com/cncf/gitdm/blob/master/FOR

[2021-11-03 06:39] jpeach commented on #831
Hi @lukaszgryglicki. Is maintainers.C-section special? I'm wondering if there's some input to that I ought to fix?

[2021-11-03 06:56] lukaszgryglicki commented on #831
Ohhh this s just a file not used for anything currently.
Files used to generate affiliation data are mentioned in links I've already posted. Just the `developers_affiliationsN.txt`, `company_developersN.txt`.

[2021-11-03 21:55] jpeach commented on #831
That's weird then. That is the only file where I am mentioned, and devstats [here](https://k8s.devstats.cncf.io/d/66/developer-activity-counts-by-companies?orgId=1&var-period_name=v1.22.0%20-%20now&var-metric=contributions&var-repogroup_name=All&var-repo_name=kubernetes%2Fkubernetes&var-country_name=All&var-companies=VMware%20Inc.&var-companies=Pivotal) counts my affiliation as vmware.

[2021-11-04 05:05] #831 closed

[2021-12-22 16:05] tylerauerbeck opened #880 "Affiliation doesn't appear to be updated"
I'm going to assume that this is a foo-bar or misunderstanding on my end, but after merging: https://github.com/cncf/gitdm/pull/844 , I expected to see my affiliation updated to my new employer. However after looking at my contributions across a handful of projects (ex:  https://metallb.devstats.cncf.io/d/66/developer-activity-counts-by-companies?orgId=1 and https://argo.devstats.cncf.io/d/66/deve

[2021-12-23 07:10] lukaszgryglicki commented on #880
Affiliations are updated once per 4-weeks (there are >100 projects now), if your affiliation change was merged more than 4 weeks ago, please let me know - I'll check if there is any error in affiliations import and will run it manually for those 2 projects then.

[2021-12-23 13:46] tylerauerbeck commented on #880
@lukaszgryglicki Thanks for taking a look at this. My PR looks like it was merged on Nov 16, so just a little over a month ago.

[2021-12-23 13:49] lukaszgryglicki commented on #880
OK, I'll check tomorrow then.

[2021-12-23 13:59] lukaszgryglicki commented on #880
JSON entries in `github_users.json` are OK.
Rolls inside those two projects metallb` and `argo` are also OK:
[code]
So I will just regenerate their past data manually now.

[2021-12-23 14:00] lukaszgryglicki commented on #880
But [here](https://argo.devstats.cncf.io/d/66/developer-activity-counts-by-companies?orgId=1) you have 2 entries for 2 companies, and your rolls list 3 companies so the looks rather good for me.

[2021-12-23 14:24] lukaszgryglicki commented on #880
Regenerated data, should now be OK, please reopen if you think it is not.

[2021-12-23 14:24] #880 closed

[2022-01-19 10:41] kerthcet opened #912 "how to disable another wrong registered company"
Sorry to disturb, as we have two companies registered, we'd like to remove one of them, what's the steps, thanks.

[2022-01-19 12:47] lukaszgryglicki commented on #912
This is a manual process (we import mapping from elsewhere), you can let me know that `Company A` should always be mapped to `Company B` so I will add a mapping step for this (we already have some mapped company names in `mapping.json`)

[2022-01-20 02:54] kerthcet commented on #912
thanks @lukaszgryglicki , we'd like to always map `DaoCloud` to `DaoCloud Network Technology Co. Ltd.`, it was wrong registered.

[2022-01-20 06:51] lukaszgryglicki commented on #912
Added an internal mapping and applied.

[2022-01-20 06:51] #912 closed

[2022-02-16 14:26] arminru opened #954 "How to merge duplicated companies?"
I noticed that both "Dynatrace" and "Dynatrace LLC" show up as separate companies while they are not. Both of them have some affiliated developers assigned.
What would be the best approach to merge both into one and to ensure future employees are mapped to the correct entity?
Should the `company-map` be used for this or would it make sense to edit all occurrences in `developer_affiliations*.txt`?

[2022-02-16 15:36] lukaszgryglicki commented on #954
I will do this manually, this is not a good task for a PR.
Domain mapping is irrelevant here.
Will ping you when done.

[2022-02-17 06:12] lukaszgryglicki commented on #954
Done.

[2022-02-17 06:12] #954 closed

[2022-02-17 10:48] arminru commented on #954
Thank you, @lukaszgryglicki!

[2022-03-15 18:49] Skarlso opened #991 "User skarlso was removed"
This PR added me and WeaveWorks affiliation. https://github.com/cncf/gitdm/pull/772

However, I was somehow removed from the list and now am nowhere to be found. :(

[2022-03-15 19:26] lukaszgryglicki commented on #991
There was a conflicting affiliation and email from PR had `@` instead of `!`,  I must did something wrong on manual post-merge update, now fixing it.

[2022-03-15 20:05] Skarlso commented on #991
Yaay! Thank you! :)

[2022-03-17 02:30] Chen-Xintong opened #992 "Can't update company information"
Hi, I've submit a [PR](https://github.com/cncf/gitdm/pull/986) for my Corporation, but I still can't find my company information in [Istio dashboard](https://istio.teststats.cncf.io/d/66/developer-activity-counts-by-companies?orgId=1&var-period_name=Last%20decade&var-metric=contributions&var-repogroup_name=All&var-country_name=All), how can I fix it? :-)

Or it will take a while to update personal

[2022-03-17 05:12] lukaszgryglicki commented on #992
Affiliations data is imported on a 4-week basis, the next import for Istio is scheduled for 24th.
[code]

[2022-03-17 05:12] #992 closed

[2022-03-17 05:13] Chen-Xintong commented on #992
Okay, Thx!

[2022-03-17 05:14] Chen-Xintong commented on #992
Okay, Thx!

[2022-04-01 07:48] TakanariKo opened #1018 "Company name is incorrect"
I noticed our company "Z Lab" was renamed and all members are belong to unknown organization "Zeppelin Lab GmbH".
Please see on the list below.

https://github.com/cncf/gitdm/blob/d7478928760b927f2859c705f77957a45bfe390b/company_developers8.txt#L6452-L6460

Our company name is not "Zeppelin Lab GmbH" but "Z Lab corporation".
https://github.com/cncf/gitdm/blob/master/src/mapping.json#L3277

ref. Ou

[2022-04-01 08:12] lukaszgryglicki commented on #1018
may be some auto-mapping that was imported from LF, will check this.

[2022-04-01 09:53] lukaszgryglicki commented on #1018
Fixed.

[2022-04-01 09:53] #1018 closed

[2022-04-01 19:33] #809 closed

[2022-06-07 17:28] wparad opened #1076 "Request to remove my private email address"
For some reason my private email address is exposed in this repository, and I would like it removed:
https://github.com/cncf/gitdm/blob/master/src/other_repos/gitlab_2018-07-01_2019-07-01.csv#L576

If there is some reason that having a contact email is beneficial, I'm happy to provide one.

[2022-06-08 05:03] lukaszgryglicki commented on #1076
On it.

[2022-06-08 05:19] lukaszgryglicki commented on #1076
Done.

[2022-06-08 05:19] #1076 closed

[2022-06-08 09:51] wparad commented on #1076
Thank you.

[2022-07-06 16:23] svrnm opened #1101 "Same user, different case?"
Hi,

I am not sure how to fix this, so I am raising this issue: looking at [this dashboard](https://opentelemetry.devstats.cncf.io/d/66/developer-activity-counts-by-companies?orgId=1&var-period_name=Last%20decade&var-metric=contributions&var-repogroup_name=All&var-country_name=All&var-companies=Cisco), I see two users being listed twice (WPH95, wph95 & Arbiv, arbiv).

They are the same users, is t

[2022-07-06 16:26] lukaszgryglicki commented on #1101
Will take a look when I have some time.

[2022-07-06 16:26] svrnm commented on #1101
Thank you!

[2022-07-08 05:22] lukaszgryglicki commented on #1101
So users aren't duplicated in GitHub_users.json and cncf-config/email-map - but they are in the dashboard, investigating this.

[2022-07-08 05:27] lukaszgryglicki commented on #1101
But on the database:
[code]

This means users were renamed somewhere in the past.
I will update dashboard to group by `lower(login)` which should solve the issue - I'll chekc this locally first.

[2022-07-08 05:57] lukaszgryglicki commented on #1101
This [commit](https://github.com/cncf/devstats/commit/d21dcb5930261930b87cef36723489ed1d14bed7) should solve this, but I need to test locally, confirm it works, rebuild images and rebuild that dashboard's data.

[2022-07-08 06:23] lukaszgryglicki commented on #1101
Fixed and regenerated data, closing.

[2022-07-08 06:23] #1101 closed

[2022-07-08 07:49] svrnm commented on #1101
thank you @lukaszgryglicki for looking into this and fixing it!

[2022-07-19 05:04] shurup opened #1107 "What is the best way to change the country affiliation?"
Hello! Some users in our organization (including me) have the Country displayed as "-" at k8s.devstats.cncf.io. I have a country set in my GitHub profile now, but probably it was not there when my user was initially added to the gitdm database. Does it mean this data isn't refreshed for all users in a while?

If so, what is the best way to fix it? I found #69 where it was made by direct modificati

[2022-07-19 05:22] lukaszgryglicki commented on #1107
Yes you should update GitHub_users.json or eventually just put a list of users and countries to be set for them here.

[2022-07-19 05:43] shurup commented on #1107
Thank you, Łukasz!

[2022-07-19 05:43] #1107 closed

[2022-08-02 07:47] daisy-ycguo opened #1114 "How to change my company information?"
I'm a Knative contributor. I changed my company in 2020. How could I change my company information in knative.teststats.cncf.io ?

[2022-08-02 07:51] lukaszgryglicki commented on #1114
please follow [this](https://github.com/cncf/gitdm/blob/master/README.md#addingupdating-affiliation) or take a look at merged PRs.

[2022-08-02 07:52] #1114 closed

[2022-09-28 15:08] dholbach opened #1200 "Flux: please add fluxcd/flux2"
`fluxcd/flux2` is the official repository for Flux now. `fluxcd/flux` hasn't reached its EOL just yet, but will be archived some time soon.

[2022-10-21 07:25] lukaszgryglicki commented on #1200
Flux2 is there, see [this](https://flux.devstats.cncf.io/d/1/activity-repository-groups?orgId=1&var-period=h24&var-repogroups=All) for example, closing.

[2022-10-21 07:25] #1200 closed

[2022-11-14 08:58] Xunzhuo opened #1267 "Fix wrong country_id of mine"
Hi, can help me fix my wrong country_id ?

I am from China, country_id should be cn : )

[code]

[code]

[2022-11-14 08:59] Xunzhuo commented on #1267
cc @lukaszgryglicki

[2022-11-14 11:57] lukaszgryglicki commented on #1267
On it.

[2022-11-14 12:09] lukaszgryglicki commented on #1267
Done.

[2022-11-14 12:09] #1267 closed